* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* css for navbar  */

html {
    font-size: 62.5%;
}

#header {
    min-height: 100vh;
    background-image: url('photo-1587351021759-3e566b6af7cc.jpg');
    background-position: center;
    background-size: cover;

}

#header::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(26, 26, 26, 0.6)
}

body {
    font-family: montserrat;
    /* height: 100rem; */
}

nav {
    /* box-shadow: 5px 5px 5px black; */
    background: #ffffff;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100000;
    width: 100%;
}

label.logo {
    color: rgb(8, 8, 8);
    font-size: 3rem;
    line-height: 8rem;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 2rem;
}

nav ul li {
    display: inline-block;
    line-height: 8rem;
    margin: 0 5px;
}
#google_translate_element select{
    background-color: rgb(255, 255, 255);
    padding: .5rem;
    /* width: 100%; */
    color: rgb(0, 0, 0);
    display: inline-block;
    float: left;
    /* margin-top: 1rem; */
    position: relative;
    top: 2rem;
    right: 1.2rem;
    /* display: inline-block; */
}
#google_translate_element {
color: transparent;

}
#google_translate_element a{
    display: none;
}
.goog-logo-link{
    display: none !important;
}
.goo-te-gadget{
    color: transparent !important;
    font-size: 0;
}
.goog-te-banner-frame{
    display: none !important;
}
.goog-te-banner .google-te-combo{
    /* display: none !important; */
    color: blue !important;
}
.skiptransalte{
}
#targetLanguage{
    display: none;

}
nav ul li a {
    color: rgb(12, 109, 255);
    font-size: 18px;
    padding: 7px 13px;
    font-family: sans-serif;
    border-radius: 3px;
    text-transform: uppercase;
}

nav ul li a:focus {
    color: rgb(233, 64, 120);
}

#contact a {
    background-color: rgb(0, 81, 255);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 15px;
    transition: .3s;
}

#contact a:hover {
    border: 2px solid rgb(0, 81, 255);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 81, 255);
    padding: 10px 20px;
    border-radius: 5px;
}

.checkbtn {
    color: black;
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
    color: black;
}


.logo-icon {}

@media (max-width: 952px) {
    label.logo {
        font-size: 2.5rem;
        padding-left: 5rem;
    }

    nav ul li a {
        font-size: 1.6rem;
    }
}

@media (max-width: 868px) {
    #header {
        width: 100%;
    }

    .checkbtn {
        display: block;
        color: #000000;
    }

    .myfirstcontainer {
        background-image: url('img/evgeni-tcherkasski-Gyp9-tIZxiw-unsplash.jpg');
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ffffff;
        top: 80px;
        left: -100%;
        z-index: 100;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 5rem 0;
        line-height: 3rem;
    }

    nav ul li a {
        font-size: 2rem;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
        color: black;
    }

}


/* welcome page css for header  */


#movetext {
    background-color: rgb(255, 255, 255);
    z-index: 100;
    color: white;
    margin-top: 8rem;
    padding: 10px;
    font-size: 1.9rem;
}

#mytext::before {
    content: "";
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}



.wrapper {

    box-sizing: content-box;
    /* background-color: #ffffff; */
    height: 50px;
    justify-content: center;
    padding: 50px 30px;
    display: flex;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    left: 50%;
        position: relative;
        /* top: 100%; */
        transform: translate(-50%,115%);
    color: white;
    font-size: 35px;
    width: 100%;
    margin: auto;
    text-align: center;
    /* box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2); */
}

.btn-section {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 80%;
    left: 50%;

}

.btn-head-1 {
    background-color: rgb(0, 89, 255);
    color: white;
    font-size: 2rem;
    margin: 1rem 5rem;
    padding: 1rem 3rem;
    border: none;
    border-radius: .2rem;
}

.words {
    overflow: hidden;
}

@media(max-width:858px) {
    .btn-section {
        margin: auto;
    }

    .btn-head-1 {
        padding: .8rem 1rem;
        font-size: 1.8rem;
        display: inline-block;
        width: 100%;
    }
}

/* @media(max-width:440px){
    .btn-head-1 {
        padding: .8rem .8rem;
        font-size: 1.8rem;
        display: inline-block;
      }
} */
span {
    display: block;
    height: 100%;
    padding-left: 10px;
    color: #ffffff;
    animation: spin_words 6s infinite;
}

@keyframes spin_words {
    10% {
        transform: translateY(-112%);
    }

    25% {
        transform: translateY(-100%);
    }

    35% {
        transform: translateY(-212%);
    }

    50% {
        transform: translateY(-200%);
    }

    60% {
        transform: translateY(-312%);
    }

    75% {
        transform: translateY(-300%);
    }

    85% {
        transform: translateY(-412%);
    }

    100% {
        transform: translateY(-400%);
    }
}

.main {

    transform: translate(-50%, 148%);
}

.main p {
    left: 50%;
    position: relative;
    top: 100%;
    text-align: center;
    font-size: 35px;
    color: white;
}

.main h1 {
    left: 50%;
        position: relative;
        top: 100%;
    color: white;
    font-size: 45px;
    width: 100%;
    margin: auto;
    text-align: center;
}

.words {
    /* display: flex; */
    /* justify-content: center; */
}

body {
    overflow-x: hidden;
}

html {
    overflow-x: hidden;

}

@media(max-width:858px) {
    #header {
        width: 100%;
    }

    .main {
        width: 100%;
    }

    .main h1 {
        font-size: 33px;
    }

    .main p {
        font-size: 20px;
    }

    .wrapper {
        width: 80%;
        font-size: 20px;
    }

    label.logo {
        font-size: 25px;
    }
}

@media(max-width:450px) {
    .main h1 {
        font-size: 25px;
    }

    .wrapper {
        width: 80%;
        font-size: 16px;
    }

    label.logo {
        font-size: 23px;
    }
}

/*  */
@media(min-width:250px)and(max-width:350px) {
    .main h1 {
        font-size: 23px;
    }

    .wrapper {

        font-size: 16px;
    }

    label.logo {
        font-size: 20px;
        width: 50%;
    }
}


/* css for satisfied  patient  */
#satisfiedpatient {
    padding-top: 10rem;
    min-height: 100vh;
}

.patient {
    font-size: 30px;
    text-align: center;
}

#satisfiedpatient p {
    text-align: center;
    font-size: 20px;
    padding-top: 1rem;
}

.row-items {
    display: flex;
    justify-content: space-evenly;

}

.col-items video {
    /* margin: 10px; */
    margin-top: 5rem;
    width: 32rem;
    height: 25rem;
    border-radius: 5px;
}

.link-gallery {
    text-align: center;
    margin-top: 20px;
}

.link-gallery a {
    font-size: 20px;
    background-color: rgb(0, 89, 255);
    border-radius: 4px;
    padding: 10px 20px;
    color: white;

    /* margin: auto; */
}

@media(max-width:858px) {
    .row-items {
        flex-direction: column;
        align-items: center;
    }
}

/* section for our doctors  */
#our-doctors {
    padding-top: 5rem;
    text-align: center;
    min-height: 100vh;
}

#our-doctors h2 {
    font-size: 3rem;
}

#our-doctors p {
    font-size: 2rem;
}


/* our section badi kalesh wala  */
#our-doctor-changing{
    padding-top: 3rem;
    width: 100%;
    text-align: center;
}

#our-doctor-changing h3{
   font-size: 3rem;
}
#our-doctor-changing p{
   font-size: 2rem;
}
/* main for both  */

.main-for-both{
display: flex;
margin-top: 5rem;
justify-content: space-around;
}
/* for left side  */
.container-for-links{
height: 48rem;
width: 50rem;
margin-left: 4rem;
border-radius: 5px;
background-color: rgb(196, 220, 255);
}
.links{
    margin: 2rem;
    margin-top: 3rem;
}
.links a{
    color: blue;
    font-size: 2rem;
}
/* left side end  */
/* css for the right side */
.item-video-text{
    /* width: 50%; */
    margin-top: 3rem;
}
.videos video{
    width: 65%;
    border-radius: 10px;
}
.videos p{
    width: 90%;
    padding-top: 2rem;
    margin: auto;
}

.second-video{
    display: none;
}

.third-video{
    display: none;
}
.fourth-video{
    display: none;
}
.fifth-video{
    display: none;
}
.sixth-video{
    display: none;
}
.seventh-video{
    display: none;
}
/* ending here  */
/* css for responsive  */
@media(max-width:858px){
    #our-doctor-changing h3{
        font-size: 2.5rem
        
    }
        #our-doctor-changing p{
            padding-top: 1rem;
            font-size: 1.99rem;
        }
    .videos{
        display: none;
    }
    .container-for-links{
        width: 26rem;
        height: 53rem;
        background-color: #f7f7f7;
    }
}
/* testimonials section  */
#testimonials {
    padding-top: 10rem;
    min-height: 100vh;
    text-align: center;
}

#testimonials h1 {
    font-size: 3rem;
}

#my-p {
    font-size: 1.5rem;
}

.main-testimonials-items {
    display: flex;
    justify-content: space-evenly;
}

.test-itmes {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 170, 155);
    margin-top: 5rem;
    width: 40rem;
    height: 18rem;
    border-radius: 5px;
    padding: 2rem;
    transition: .5s;
}

.first-item {
    font-size: 2rem;

}

.test-itmes:hover {
    box-shadow: 0 0 30px 0px rgb(255, 120, 120);
}

@media(max-width:858px) {
    .main-testimonials-items {
        flex-direction: column;
        align-items: center;
    }

    .test-itmes {
        width: 30rem;

    }

    .first-item {
        font-size: 1.8rem;
    }
}

footer {
    min-height: 50vh;
    width: 98%;
    margin: auto;
    background-color: #002856;
}

#contact-us {
    background-image: url('img/istockphoto-1291318636-612x612.jpg');
    background-position: center;
    background-size: cover;
    min-height: 50vh;
    width: 100%;

}
